<ion-header id="cabec">
  <ion-toolbar>
    <ion-title id="second" color="danger">ONDE É</ion-title>
    <ion-title id="princ">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="faixa">

    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-card-header>
              <ion-card-title size="larger">
                <strong>Bem Vindo ao Onde É</strong>
              </ion-card-title>
            </ion-card-header>
            </ion-col>
      </ion-row>

    </ion-grid>


    <ion-grid id="cont">
              <ion-item>
                <ion-label position="floating">NOME</ion-label>
                <ion-input></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">EMAIL</ion-label>
                <ion-input></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="floating">SENHA</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>

              <ion-item (click)="showPicker = !showPicker">
                <ion-label>Data de nascimento</ion-label>
                <ion-text slot="end">
                  {{ formattedString }}
                </ion-text>
              </ion-item>
              <ion-datetime *ngIf="showPicker"></ion-datetime>
    </ion-grid>
  </div>

  <div id="botoes">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button id="canc" color="sucess" (click)="btCanc()">  
            CANCELAR
          </ion-button>
          <ion-button color="sucess" (click)="btCriar()">
            CRIAR CONTA
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>