<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ONDE É?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">onde é</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="conteudo">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Onde É</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              BEM VINDO AO ONDE É, NOSSA STAR UP SE RESUME EM UMA REDE-SOCIAL
              ONDE VOCÊ PODERÁ ENCONTRAR AS MELHORES FESTAS MAIS PRÓXIMAS DE VOCÊ,
              ALÉM DE PODER CRIAR FESTAS E CONVIDAR AMIGOS, E MUITO
              MAIS. VENHA FAZER PARTE DESSA COMUNIDADE!!!!
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>



  <div id="container">
    <ion-grid id="buts">
      <ion-button id="login" color="sucess" (click)="btLogin()">
        login
      </ion-button>
      <ion-button id="cads" color="sucess" (click)="BtCadastro()">
        Cadastro
      </ion-button>
    </ion-grid>
  </div>
</ion-content>