<ion-header>
  <ion-grid>
  <ion-toolbar>
    <ion-grid>
    <ion-title>Suporte</ion-title>
    </ion-grid>
  </ion-toolbar>
  </ion-grid>
</ion-header>

<ion-content>


  <div id="conteudo">


    <ion-grid>
      <ion-item>
        <ion-label>Nome: </ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Sobrenome: </ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Email: </ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Assunto: </ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Mensagem: </ion-label>
        <ion-input></ion-input>
      </ion-item>

    </ion-grid>

  </div>


  <div id="botoes">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button id="canc" color="sucess" (click)="btCanc()">
            CANCELAR
          </ion-button>
          <ion-button id="env" color="sucess" (click)="btEnviar()">
            ENVIAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>
